/*The following classes are for the loading bar*/
.overlay {
  z-index: 16;
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  /* top: 102px; */
  /* left: 0;
  right: 0;
  bottom: 0; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  overflow-x: hidden;
}

.overlayContainer {
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 75%;
  top: 8%;
  margin: 0 auto;
}

.overlayImg {
  object-fit: contain;
}

.overlayText {
  margin-top: 15px;
  font-size: 30px;
  font-family: "Heebo", sans-serif;
}
